

NET "clk_50M" LOC = C9;
NET "stb" LOC = E8;
NET "clk" LOC = F8;
NET "dio" LOC = C7;


NET "clk" IOSTANDARD = LVCMOS33;
NET "clk_50M" IOSTANDARD = LVCMOS33;
NET "dio" IOSTANDARD = LVCMOS33;
NET "stb" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "reset" LOC = V4;

# PlanAhead Generated IO constraints 

NET "reset" IOSTANDARD = LVTTL;
NET "reset" PULLDOWN;
