

NET "A[3]" IOSTANDARD = LVTTL;
NET "A[2]" IOSTANDARD = LVTTL;


NET "A[3]" LOC = N17;
NET "A[2]" LOC = H18;


NET "A[3]" PULLUP;
NET "A[2]" PULLUP;
NET "A[1]" PULLUP;
NET "A[0]" PULLUP;
NET "B[3]" PULLDOWN;
NET "B[2]" PULLDOWN;
NET "B[1]" PULLDOWN;
NET "B[0]" PULLDOWN;


NET "A[1]" LOC = L14;
NET "A[0]" LOC = L13;


NET "A[0]" IOSTANDARD = LVTTL;
NET "A[1]" IOSTANDARD = LVTTL;
NET "B[3]" IOSTANDARD = LVTTL;
NET "B[2]" IOSTANDARD = LVTTL;
NET "B[1]" IOSTANDARD = LVTTL;
NET "B[0]" IOSTANDARD = LVTTL;
NET "Sum[3]" IOSTANDARD = LVTTL;
NET "Sum[2]" IOSTANDARD = LVTTL;
NET "Sum[1]" IOSTANDARD = LVTTL;
NET "Sum[0]" IOSTANDARD = LVTTL;
NET "Cin" IOSTANDARD = LVTTL;
NET "Cout" IOSTANDARD = LVTTL;


NET "B[3]" LOC = V4;
NET "B[2]" LOC = D18;
NET "B[1]" LOC = K17;
NET "B[0]" LOC = H13;
NET "Sum[3]" LOC = F11;
NET "Sum[2]" LOC = E11;
NET "Sum[1]" LOC = E12;
NET "Sum[0]" LOC = F12;
NET "Cin" LOC = V16;
NET "Cout" LOC = C11;

# PlanAhead Generated IO constraints 

NET "Cin" PULLDOWN;
