

NET "clk" IOSTANDARD = LVTTL;
NET "reset" IOSTANDARD = LVTTL;
NET "q[7]" IOSTANDARD = LVTTL;
NET "q[6]" IOSTANDARD = LVTTL;
NET "q[5]" IOSTANDARD = LVTTL;
NET "q[4]" IOSTANDARD = LVTTL;
NET "q[3]" IOSTANDARD = LVTTL;
NET "q[2]" IOSTANDARD = LVTTL;
NET "q[1]" IOSTANDARD = LVTTL;
NET "q[0]" IOSTANDARD = LVTTL;


NET "reset" LOC = V4;
NET "clk" LOC = C9;
NET "q[7]" LOC = F9;
NET "q[6]" LOC = E9;
NET "q[5]" LOC = D11;
NET "q[4]" LOC = C11;
NET "q[3]" LOC = F11;
NET "q[2]" LOC = E11;


NET "reset" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "q[1]" LOC = E12;
NET "q[0]" LOC = F12;
