
# PlanAhead Generated physical constraints 

NET "clki" LOC = C9;

# PlanAhead Generated IO constraints 

NET "clki" IOSTANDARD = LVTTL;
NET "clko" IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "clko" LOC = F12;
