//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 19 04:07:35 2025
//! **************************************************************************

SCHEMATIC START;
COMP "clki" LOCATE = SITE "C9" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "S<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "S<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "E" LOCATE = SITE "H18" LEVEL 1;
COMP "rst_n" LOCATE = SITE "V4" LEVEL 1;
NET "clki_BUFGP/IBUFG" BEL "clki_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

