//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 26 02:30:17 2025
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "reset" LOCATE = SITE "V4" LEVEL 1;
COMP "q<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "q<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "q<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "q<3>" LOCATE = SITE "F11" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

