

NET "w[1]" IOSTANDARD = LVTTL;
NET "w[0]" IOSTANDARD = LVTTL;
NET "w[1]" PULLUP;
NET "w[0]" PULLUP;


NET "w[1]" LOC = L14;
NET "w[0]" LOC = L13;


NET "y[3]" IOSTANDARD = LVTTL;
NET "y[2]" IOSTANDARD = LVTTL;
NET "y[1]" IOSTANDARD = LVTTL;
NET "y[0]" IOSTANDARD = LVTTL;


NET "y[3]" LOC = F11;
NET "y[2]" LOC = E11;
NET "y[1]" LOC = E12;
NET "y[0]" LOC = F12;

# PlanAhead Generated physical constraints 

NET "E" LOC = V4;

# PlanAhead Generated IO constraints 

NET "E" IOSTANDARD = LVTTL;
NET "E" PULLDOWN;
